{% extends 'base_home.html' %}
{% load static %}
{% block style %}
    <style>
        .about-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 40px;
        }

        .about-img img {
            width: 100%;
            max-width: 400px;
            border-radius: 10px;
        }

        .about-text {
            flex: 1;
            margin-left: 50px;
            text-align: justify;
        }

        .team-cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 50px;
        }

        .card {
            width: calc(25% - 20px);
            margin: 10px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            transition: transform 0.3s ease;
        }

        .card:hover {
            transform: translateY(-5px);
        }

        .card img {
            width: 100%;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        .card p {
            margin-bottom: 10px;
            color: #333;
            font-size: 18px;
        }

    </style>
{% endblock %}

{% block content %}
    <section class="about">
        <div class="container">
            <h1 class="text-center mt-3">О нас</h1>
            <div class="about-info">
                <div class="about-img">
                    <img src="{% static 'photo/team.jpg' %}" alt="team">
                </div>
                <div class="about-text">
                    <p>Мы - компания, специализирующаяся на продаже традиционных блюд японской кухни. Такие, как суши,
                        сеты, роллы, сашими и т.д. Наша цель - предложить нашим клиентам высококачественные
                        продукты, приготовленные из свежих и натуральных ингредиентов.</p>
                    <p>Мы гордимся нашими блюдами, которые приготовлены с использованием лучших рецептов и традиций
                        японской
                        кухни. Наша команда шеф-поваров обладает многолетним опытом работы и создает уникальные вкусовые
                        сочетания, чтобы порадовать вас и ваши вкусовые рецепторы.</p>
                    <p>Если у вас возникли вопросы или вы заинтересованы в заказе наших блюд, не стесняйтесь связаться с
                        нами. Мы сделаем все возможное, чтобы удовлетворить ваши потребности и создать незабываемый опыт
                        для
                        вас и ваших гостей!</p>
                </div>
            </div>
        </div>
    </section>

    <section class="team">
        <div class="container">
            <h1 class="text-center mt-5">Наша команда</h1>
            <div class="team-cards">
                <div class="card">
                    <img src="{% static 'photo/main_Developer.jpg' %}" class="card-img-top" alt="Фото сотрудника">
                    <div class="card-body">
                        <p class="card-text">Бекнұр Арыстан</p>
                        <p class="card-text">Ведущий разработчик</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'photo/cook.jpg' %}" class="card-img-top" alt="Фото сотрудника">
                    <div class="card-body">
                        <p class="card-text">Али Камзаев</p>
                        <p class="card-text">Шеф-повар</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'photo/бухгалтер.jpg' %}" class="card-img-top" alt="Фото сотрудника">
                    <div class="card-body">
                        <p class="card-text">Амангелді Абдулла</p>
                        <p class="card-text">Помощник шеф-повара</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'photo/sponsor.jpg' %}" class="card-img-top" alt="Фото спонсора">
                    <div class="card-body">
                        <p class="card-text">Нуриддинов Элдор</p>
                        <p class="card-text">Спонсор компании</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

