{% extends './base.html' %}
{% load crispy_forms_tags %}

{% block title %}Главная{% endblock %}

{% block content %}
<section class="block">
    <div class="container pt-5 pb-5">
        <h1 class="title mb-5">Изменить объявления</h1>
        <form method="post" class="form-control">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary" href="{% url 'edit_food_page' pk=food.pk %}">Изменить</button>
        </form>
    </div>
</section>
{% endblock %}