{% extends 'base_home.html' %}
{% load static %}
{% load cart_extras %}

{% block title %}Главная страница{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">


{% endblock %}

{% block content %}
<div class="hero">

</div>
<section>
    <div class="container">
        {% for food_type, food_name in FOOD_TYPES %}
        <h1 class="mt-5 mb-4">{{ food_name }}</h1>
        <div class="scr" id="scr-{{ food_type }}">
            <button class="scroll-button prev" data-target="#scr-{{ food_type }} .row"><i class="bi bi-chevron-left"></i></button>
            <div class="row flex-nowrap">
                {% for food in foods %}
                    {% if food.category == food_type %}
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                        <div class="card h-100 shadow-sm">
                            <img src="{{ food.image }}" alt="{{ food.name }}" class="card-img-top">
                            <div class="card-body">
                                <h3 class="card-title">{{ food.name }}</h3>
                                <h4 class="mb-3">{{ food.price }}₸</h4>
                                <p>Описание:</p>
                                <p>{{ food.description|truncatewords:10 }}</p>
                                <p>Количество: {{ food.count }}</p>

                            </div>
                            <div class="card-footer bg-transparent">
                                <button class="btn btn-danger remove-from-cart-btn" data-food-id="{{ food.id }}">
                                    <i class="bi bi-trash"></i>
                                </button>
                                <button class="btn btn-secondary reduce-quantity-btn" data-food-id="{{ food.id }}">
                                    <i class="bi bi-dash-circle"></i>
                                </button>
                                <button class="btn btn-primary add-to-cart-btn" data-food-id="{{ food.id }}"
                                        data-quantity="{{ cart_items|get_item:food.id }}" data-add-to-cart-url="{% url 'modify_cart' %}"
                                        id="cart-quantity-{{ food.id }}">
                                    {% if food.id in cart_items %}
                                        {{ cart_items|get_item:food.id }}
                                    {% else %}
                                        <i class="bi bi-cart"></i>
                                    {% endif %}
                                </button>
                                <button class="btn btn-secondary increase-quantity-btn" data-food-id="{{ food.id }}">
                                    <i class="bi bi-plus-circle"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <button class="scroll-button next" data-target="#scr-{{ food_type }} .row"><i class="bi bi-chevron-right"></i></button>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}

