{% extends 'base_home.html' %}
{% load static %}
{% load cart_extras %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<section>
    <div class="container">
        {% for food_type, food_name in FOOD_TYPES %}
        <h1 class="mt-5 mb-4">{{ food_name }}</h1>
        <div class="scr">
            <div class="row flex-nowrap overflow-auto">
                {% for food in foods %}
                    {% if food.category == food_type %}
                    <div class="col-md-3 mb-4">
                        <div class="card h-100 shadow-sm">
                            <img src="{{ food.image }}" alt="{{ food.name }}" class="card-img-top">
                            <div class="card-body">
                                <h3 class="card-title">{{ food.name }}</h3>
                                <h4 class="mb-3">{{ food.price }}T</h4>
                                <p>Описание:</p>
                                <p>{{ food.description|truncatewords:3 }}</p>
                                <div class="card-footer bg-transparent d-grid">
                                    <button class="btn btn-danger remove-from-cart-btn"
                                            data-food-id="{{ food.id }}" style="margin-right: 5px;">Удалить из корзины
                                    </button>
                                    <button class="btn btn-secondary reduce-quantity-btn"
                                            data-food-id="{{ food.id }}" style="margin-right: 5px;">-
                                    </button>
                                    <button class="btn btn-primary add-to-cart-btn"
                                            data-food-id="{{ food.id }}"
                                            data-quantity="{{ cart_items|get_item:food.id }}" data-add-to-cart-url="{% url 'modify_cart' %}"
                                            id="cart-quantity-{{ food.id }}"
                                            style="margin-right: 5px;">
                                        {% if food.id in cart_items %}
                                            В корзине ({{ cart_items|get_item:food.id }})
                                        {% else %}
                                            Добавить в корзину
                                        {% endif %}
                                    </button>
                                    <button class="btn btn-secondary increase-quantity-btn"
                                            data-food-id="{{ food.id }}" style="margin-left: 5px;">+
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
