{% extends 'base_home.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <img src="{{ profile.avatar }}" class="img-fluid rounded-circle" alt="Avatar">
        </div>
        <div class="col-md-9">
            <h2>{{ user.username }}</h2>
            <p><strong>Имя:</strong> {{ user.first_name }}</p>
            <p><strong>Фамилия:</strong> {{ user.last_name }}</p>
            <p><strong>Электронная почта:</strong> {{ user.email }}</p>
            <p><strong>Дата регистрации:</strong> {{ user.date_joined }}</p>
            <a href="{% url 'edit_profile' %}" class="btn btn-primary mt-2">Изменить профиль</a>
            <a href="{% url 'change_password' %}" class="btn btn-warning mt-2">Изменить пароль</a>
        </div>
    </div>
</div>
{% endblock %}
